
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}


header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 24px;
    color: #333;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.product-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-item p {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.product-item .delete-checkbox {
    position: absolute;
    top: 40px;
    left: 40px;
}

.buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

button.mass-delete {
    background-color: #dc3545;
}

button.mass-delete:hover {
    background-color: #c82333;
}


form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

form input[type="text"],
form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

form .form-group {
    margin-bottom: 20px;
}

.form-group #productType {
    width: auto;
}

form .buttons {
    display: flex;
    justify-content: space-between;
}

form .buttons button {
    background-color: #007bff;
}

form .buttons button:hover {
    background-color: #0069d9;
}

form .buttons .cancel-btn {
    background-color: #6c757d;
}

form .buttons .cancel-btn:hover {
    background-color: #5a6268;
}

.notification {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    display: none; 
}
